/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #000; /* Initial text color (black) */
    background-image: url('coral_reef.jpg'); /* Replace 'your-image.jpg' with your image file path */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9); /* 50% transparent black background color */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
}

/* Style the header */
header {
    background-color: rgba(0, 0, 0, 0.9); /* 50% transparent black background color */
    text-align: center;
    padding: 2rem;
    color: #fff; /* Header text color (white) */
}

/* Style the navigation menu */
nav ul {
    background-color: #000; /* Navigation menu background color */
    list-style: none;
    text-align: center;
    padding: 1rem;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; /* Navigation link color (white) */
    font-weight: bold;
}

/* Style the content sections */
section {
    padding: 2rem;
    text-align: left;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a shadow for sections */
    overflow: hidden; /* Hide content that overflows */
    background-color: #fff; /* Set a white background color for sections */
    color: #000; /* Set black text color for sections */
    display: none; /* Hide sections by default */
}

/* Add this CSS class to show the section when it's active */
.active {
    display: block;
}

/* Unique transition for even sections */
section:nth-child(even) {
    background-color: #2ecc71; /* Background color for even sections */
    color: #fff; /* Text color for even sections */
}

/* Unique transition for odd sections */
section:nth-child(odd) {
    background-color: #e74c3c; /* Background color for odd sections */
    color: #fff; /* Text color for odd sections */
}

/* Style section headings */
section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #007acc; /* Section heading color */
}

/* Style section paragraphs */
section p {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Style the footer */
footer {
    background-color: #007acc; /* Footer background color */
    text-align: center;
    padding: 1rem;
    color: #fff; /* Footer text color (white) */
}
